@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B2B2B;
  color: #E8E3DC;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}